<aside class="sidebar">
    <nav>
        <ul>
            <li class="separator">Overview</li>
            <li class="link<%= active === "overview" ? " active" : "" %>"><a href="/panel/overview"><i class="fa-solid fa-users-viewfinder"></i> Overview</a></li>
            <li class="separator">Records</li>
            <li class="link<%= active === "home" ? " active" : "" %>"><a href="/panel/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li class="link<%= active === "status" ? " active" : "" %>"><a href="/panel/status"><i class="fa-solid fa-signal-bars"></i> Status</a></li>
            <li class="link<%= active === "chat-history" ? " active" : "" %>"><a href="/panel/chat-history"><i class="fa-solid fa-comments"></i> Chat History</a></li>
            <li class="link<%= active === "user-search" ? " active" : "" %>"><a href="/panel/user/search"><i class="fa-solid fa-user-magnifying-glass"></i> User Search</a></li>
            <li class="separator">Archive Entries</li>
            <li class="link<%= active === "archive-create" ? " active" : "" %>"><a href="/panel/archive/create"><i class="fa-solid fa-box-archive"></i> Create Archive Entry</a></li>
            <li class="separator">Commands</li>
            <li class="link<%= active === "commands-discord" ? " active" : "" %>"><a href="/panel/commands/discord"><i class="fa-brands fa-discord"></i> Discord Commands</a></li>
            <li class="link<%= active === "commands-twitch" ? " active" : "" %>"><a href="/panel/commands/twitch"><i class="fa-brands fa-twitch"></i> Twitch Commands</a></li>
            <li class="separator">Manage</li>
            <li class="link<%= active === "manage-streamers" ? " active" : "" %>"><a href="/panel/manage/streamers"><i class="fa-brands fa-twitch"></i> Manage Streamers</a></li>
            <li class="link<%= active === "manage-tokens" ? " active" : "" %>"><a href="/panel/manage/tokens"><i class="fa-solid fa-key"></i> Manage Tokens</a></li>
        </ul>
    </nav>
</aside>
