<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Commands | Twitch Mod Squad</title>
<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
    <link rel="stylesheet" href="/assets/css/panel/checkboxes.css">
</head>
<body class="panel">
<%- include("../../partials/header") %>

    <div class="sidebar-container">
        <%- include("../../partials/sidebar", {active: "commands-twitch"}) %>
        
        <main class="container container-md">
            <% if (locals?.error) { %>
            <div class="alert alert-danger col-12" onclick="$(this).remove()">
                <strong>An error occurred!</strong>
                <%= error %>
            </div>
            <% } %>
            <section class="col-4">
                <h2><i class="fa-brands fa-twitch"></i> Users</h2>
                <% users.forEach(user => { %>
                <%- include("../../partials/objects/twitchUser", {account: user, comma: comma, link: `/panel/commands/twitch/${user._id}`}) %>
                <% }) %>
            </section>
            <% if (locals?.user) { %>
            <form class="col-8" method="post">
                <section>
                    <h2><i class="fa-solid fa-command"></i> <code><%= user.display_name %></code> Commands</h2>
                    <% commands.forEach(command => { %>
                        <div class="form-group better-cb">
                            <input type="checkbox" name="<%= command.name %>" id="cmd-<%= command.name %>"<%- user?.commands[command.name] ? ` checked="checked"` : "" %>>
                            <label for="cmd-<%= command.name %>">
                                <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span>
                                    <%= command.label %>
                                </span>
                            </label>
                        </div>
                    <% }) %>
                    <input type="submit" value="Update" class="button full" disabled="disabled">
                </section>
            </form>
            <% } %>
        </main>
    </div>
    
    <div class="notifications"></div>
<%- include("../../partials/javascript") %>
    <script src="/assets/js/saveToggle.js"></script>
</body>
</html>
