<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Manage Tokens</title>
<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
</head>
<body class="panel">
<%- include("../../partials/header") %>

    <div class="sidebar-container">
        <%- include("../../partials/sidebar", {active: "manage-tokens"}) %>
        
        <main class="container container-md">
            <section class="col-12">
                <h2><i class="fa-solid fa-circle-info"></i> Information</h2>
                <p><strong>Tokens</strong> are authorized app codes with Twitch and Discord which allow TMS to make actions on your account. The <strong>scopes</strong> attribute shows the permissions granted to TMS.</p>
                <p>We utilize Twitch tokens for authentication and for the use of crossbanning users in your chat when you request it through Discord or on the website.</p>
                <p>We utilize Discord tokens for authentication and for the use of <a href="https://tms.to/auth/join" target="_blank">joining TMS guilds</a>.</p>
                <p>Deleting the token on this page will remove access from TMS as we will no longer have a valid refresh token to utilize. If you'd like to remove access permanently from the platform, you can visit the <a href="https://www.twitch.tv/settings/connections" target="_blank">Twitch Connections Page</a> and remove <code>TMS Login</code> or visit your user settings on Discord and remove MBM/ModBot on the Authorized Apps page.</p>
                <p><strong>TMS never receives your password for <em>any</em> account, and we do not store your email or other non-public information other than these tokens.</strong></p>
            </section>
            <section class="col-12">
                <h2><i class="fa-brands fa-twitch"></i> Twitch Tokens</h2>

                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Scopes
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% twitchTokens.forEach(token => { %>
                            <%- include("../../partials/objects/token", {token: token, parseDate: parseDate}) %>
                        <% }) %>
                    </tbody>
                </table>
            </section>
            <section class="col-12">
                <h2><i class="fa-brands fa-discord"></i> Discord Tokens</h2>

                <table>
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Scopes
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% discordTokens.forEach(token => { %>
                            <%- include("../../partials/objects/token", {token: token, parseDate: parseDate}) %>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    
    <div class="notifications"></div>
<%- include("../../partials/javascript") %>
</body>
</html>
