<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Chat History</title>
<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
    <link rel="stylesheet" href="/assets/css/panel/chat.css">
    <link rel="stylesheet" href="/assets/css/panel/userSelector.css">
</head>
<body class="panel">
<%- include("../partials/header") %>

    <div class="sidebar-container">
        <%- include("../partials/sidebar", {active: "chat-history"}) %>
        
        <main class="container container-md">
            <section class="col-12">
                <h2><i class="fa-solid fa-filter"></i> Filter Settings</h2>
                <div class="container container-md">
                    <div class="col-6">
                        <%- include("../partials/userSelector", {type: "twitch", name: "streamer", label: "Streamer", user: locals?.streamer ? locals.streamer : null, comma: comma}) %>
                        <% if (locals?.streamer) { %>
                        <a href="/panel/user/<%= streamer._id %>">View User Information for <%= streamer.display_name %></a>
                        <% } %>
                    </div>
                    <div class="col-6">
                        <%- include("../partials/userSelector", {type: "twitch", name: "chatter", label: "Chatter", user: locals?.chatter ? locals.chatter : null, comma: comma}) %>
                        <% if (locals?.chatter) { %>
                        <a href="/panel/user/<%= chatter._id %>">View User Information for <%= chatter.display_name %></a>
                        <% } %>
                    </div>
                </div>
            </section>

            <section class="col-12">
                <h2><i class="fa-solid fa-comments"></i> Chat History <small>History Generated in <%= elapsed %> ms. All times are in EST</small></h2>

                <table class="chat">
                    <tbody>
                        <% let lastDate = ""; history.forEach(row => { 
                            if (lastDate !== parseDateOnly(row.time_sent)) { lastDate = parseDateOnly(row.time_sent); %>
                        <tr>
                            <th colspan="<%= locals?.streamer ? "2" : "3" %>" class="date"><span><%= lastDate %></span></th>
                        </tr><% }
                            if (row.type === "message") { %>
                        <tr>
                            <% if (!locals?.streamer) { %><td class="channel chat-user" data-type="streamer" data-id="<%= row.streamer.id %>">#<%= row.streamer.login %></td><% } %>
                            <td class="date" title="<%= lastDate %>"><%= parseTimeOnly(row.time_sent) %></td>
                            <td class="message">
                                <a href="#" class="chat-user" data-type="chatter" data-id="<%= row.chatter.id %>">
                                    <% if (row.badges) { %>
                                        <% if (row.badges.includes("broadcaster/")) { %><img src="/assets/images/badges/twitch/broadcaster.png" alt="Twitch Broadcastter" title="Twitch Broadcaster"><% } %>
                                        <% if (row.badges.includes("moderator/")) { %><img src="/assets/images/badges/twitch/moderator.png" alt="Twitch Moderator" title="Twitch Moderator"><% } %>
                                        <% if (row.badges.includes("founder/")) { %><img src="/assets/images/badges/twitch/founder.png" alt="Twitch Channel Founder" title="Twitch Channel Founder"><% } %>
                                        <% if (row.badges.includes("subscriber/")) { %><img src="/assets/images/badges/twitch/subscriber.png" alt="Twitch Subscriber" title="Twitch Subscriber"><% } %>
                                        <% if (row.badges.includes("partner/")) { %><img src="/assets/images/badges/twitch/partner.png" alt="Twitch Partner" title="Twitch Partner"><% } %>
                                        <% if (row.badges.includes("vip/")) { %><img src="/assets/images/badges/twitch/vip.png" alt="Twitch Channel VIP" title="Twitch Channel VIP"><% } %>
                                    <% } %>
                                    <span style="color: <%= row.color ? row.color : "var(--secondary-text-color)" %>;"><%= row.chatter.display_name %></span></a>:
                                <%= row.message %>
                            </td>
                        </tr>
                            <% } else if (row.type === "ban") { %>
                        <tr>
                            <% if (!locals?.streamer) { %><td class="channel chat-user" data-type="streamer" data-id="<%= row.streamer.id %>">#<%= row.streamer.login %></td><% } %>
                            <td class="date"><%= parseTimeOnly(row.time_start) %></td>
                            <td class="message"><span class="punishment-message">User <%= row.chatter.display_name %> was banned in channel #<%= row.streamer.login %>!<%- row.time_end ? " <strong><em>(inactive)</em></strong>" : "" %></span></td>
                        </tr>
                            <% } else if (row.type === "timeout") { %>
                        <tr>
                            <% if (!locals?.streamer) { %><td class="channel chat-user" data-type="streamer" data-id="<%= row.streamer.id %>">#<%= row.streamer.login %></td><% } %>
                            <td class="date"><%= parseTimeOnly(row.time_start) %></td>
                            <td class="message"><span class="punishment-message">User <%= row.chatter.display_name %> was timed out in channel #<%= row.streamer.login %> for <%= comma(row.duration) %> seconds!<%- Date.now() > row.time_end ? " <strong><em>(inactive)</em></strong>" : "" %></span></td>
                        </tr>
                            <% } %>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    
    <div class="notifications"></div>
    <script>
        let lastDate = "<%= history.length > 0 ? parseDateOnly(history[history.length - 1].time_sent) : "" %>";
        let lastTimestamp = <%= history.length > 0 ? history[history.length - 1].time_sent.getTime() : "null" %>;
    </script>
<%- include("../partials/javascript") %>
    <script src="/assets/js/userSelector.js"> </script>
    <script src="/assets/js/chatHistory.js"> </script>
</body>
</html>
