<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Panel Home</title>
<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
    <link rel="stylesheet" href="/assets/css/panel/overview.css">
</head>
<body class="panel<%= locals?.force ? " hide-header" : "" %>">
<%- include("../partials/header", {hideOption: true}) %>

    <div class="sidebar-container">
        <%- include("../partials/sidebar", {active: "overview"}) %>
        
        <main>
            <div class="container container-md">
                <section class="col-3">
                    <h2><i class="fa-solid fa-video"></i> Live Members <span id="live-member-count" class="badge">0</span></h2>
                    <div id="member-streams"></div>
                </section>
                <div class="col-9">
                    <section>
                        <h2><i class="fa-solid fa-wave-pulse"></i> Most Active Channels</h2>
        
                        <div id="most-active-channels" style="width: 100%;height: 175px;"></div>
                    </section>
                    <section>
                        <h2><i class="fa-solid fa-clock"></i> Hourly Stats</h2>
                        <div id="hourly-stats" style="width: 100%;height: 250px;"></div>
                    </section>
                    <div class="container container-md">
                        <section class="col-3">
                            <h2><i class="fa-solid fa-ban"></i> Bans</h2>
                            <div id="bans">0</div>
                        </section>
                        <section class="col-3">
                            <h2><i class="fa-solid fa-timer"></i> Timeouts</h2>
                            <div id="timeouts">0</div>
                        </section>
                        <section class="col-3">
                            <h2><i class="fa-solid fa-comment"></i> Messages</h2>
                            <div id="messages">0</div>
                        </section>
                        <section class="col-3">
                            <h2><i class="fa-solid fa-hashtag"></i> Channels</h2>
                            <div id="streamers">0</div>
                        </section>
                    </div>
                    <section>
                        <h2><i class="fa-solid fa-star"></i> Recent Subscriptions</h2>
                        <div id="subscriptions">
                            No recent subscriptions!
                        </div>
                    </section>
                    <section>
                        <h2><i class="fa-solid fa-user"></i> Recent Follows</h2>
                        <div id="follows">
                            No recent follows!
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
    
    <div class="notifications"></div>
    <div class="messages"></div>
<%- include("../partials/javascript") %>
<script>
    const WS_URI = "<%= WS_URI %>";
</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/assets/js/overview.js"></script>
    <script type="text/javascript" src="/assets/js/relativeTime.js"></script>
</body>
</html>
