<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Bot Status</title>
<%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
</head>
<body class="panel">
<%- include("../partials/header") %>

    <div class="sidebar-container">
        <%- include("../partials/sidebar", {active: "status"}) %>
        
        <main class="container container-md">
            <div class="col-4">
                <% if (shards.find(x => x.type === "tms")) { moddedChannels = shards.find(x => x.type === "tms").client.currentChannels %>
                <section>
                    <h2><img src="/assets/images/badges/twitch/moderator.png" alt="Green Sword"> Moderated Channels <span class="badge"><%= moddedChannels.length %></span></h2>
                    <p>These channels have TwitchModSquad listed as a moderator, and therefore TMS can directly connect to these channels without issue.</p>
                    <% moddedChannels.forEach(user => { %>
                        <code class="block"><%= user %></code>
                    <% }) %>
                    <% if (moddedChannels.length === 0) { %> <code class="block">No channels to show!</code> <% } %>
                </section>
                <% } %>
                <section>
                    <h2>Unjoined Channels <span class="badge"><%= unjoinedChannels.length %></span></h2>
                    <p>These channels could not be joined as the concurrent limit has been reached, TwitchModSquad was banned, or another reason.</p>
                    <% unjoinedChannels.forEach(user => { %>
                    <code class="block">#<%= user.user %>: <%= user.reason %></code>
                    <% }) %>
                    <% if (unjoinedChannels.length === 0) { %> <code class="block">No channels to show!</code> <% } %>
                </section>
            </div>
            <div class="col-4">
                <% if (shards.find(x => x.type === "default")) { defaultChannels = shards.find(x => x.type === "default").client.currentChannels %>
                <section>
                    <h2><img src="/assets/images/logos/logo_guy.png" alt="The Mod Squad Logo"> Limited Channels <span class="badge"><%= defaultChannels.length %></span></h2>
                    <p>These channels do not have a moderator authorized with TMS or have not moderated the TMS bot. Channels in this category are limited to 100.</p>
                    <% defaultChannels.forEach(user => { %>
                        <code class="block"><%= user %></code>
                    <% }) %>
                    <% if (defaultChannels.length === 0) { %> <code class="block">No channels to show!</code> <% } %>
                </section>
                <% } %>
            </div>
            <div class="col-4">
                <% shards.filter(x => x.type === "user").forEach(shard => { %>
                <section>
                    <h2><img src="<%= shard.user.profile_image_url %>" alt=""> <%= shard.user.display_name %> <span class="badge"><%= shard.client.currentChannels.length %></span></h2>
                    <% shard.client.currentChannels.forEach(user => { %>
                        <code class="block"><%= user %></code>
                    <% }) %>
                    <% if (shard.client.currentChannels.length === 0) { %> <code class="block">No channels to show!</code> <% } %>
                </section>
                <% }) %>
            </div>
        </main>
    </div>

    <% if (!channelsJoined) { %>
    <script>
        setTimeout(function() {
            window.location.href = window.location.href;
        }, 5000);
    </script>
    <% } %>
    
    <div class="notifications"></div>
<%- include("../partials/javascript") %>
</body>
</html>
