<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitch Mod Squad - Live Bans</title>
<%- include("../../partials/head") %>

    <link rel="stylesheet" href="/assets/css/panel/panel.css">
    <link rel="stylesheet" href="/assets/css/panel/live.css">
</head>
<body class="panel">
<%- include("../../partials/header") %>

    <div class="sidebar-container">
        <%- include("../../partials/sidebar", {active: "live-bans"}) %>
        
        <main class="container container-md">
            <div class="col-5">
            <% bans.forEach(ban => { %>
                <%- include("../../partials/objects/twitchBan", {ban: ban, iconURI: iconURI}) %>
            <% }) %>
            </div>
            <div class="col-7">
                <section style="display: none;" class="ban-info">
                    <h2><i class="fa-solid fa-circle-info"></i> Ban Information</h2>
                    <div class="info">
                        User
                        <code class="chatter"><img src="" alt="Profile picture"><span></span></code>
                        was banned in channel
                        <code class="streamer"><img src="" alt="Profile picture">#<span></span></code>!
                    </div>
                    <div id="chat-history">
                        <h3>
                            Chat History
                        </h3>
                        <code class="block"></code>
                    </div>
                    <div id="also-banned-in">
                        <h3>
                            Also Banned In
                        </h3>
                        <div></div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    
    <div class="notifications"></div>
<%- include("../../partials/javascript") %>
    <script src="/assets/js/live.js"> </script>
    <script src="/assets/js/relativeTime.js"> </script>

    <script>
        startWebsocket("<%= wsAddr %>");
    </script>
</body>
</html>
