<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify | Twitch Mod Squad</title>
<%- include("../../partials/head") %>
</head>
<body class="narrow-page">
    <main>
        <h1><img src="/assets/images/logo.webp" alt="Twitch Mod Squad Logo"> TwitchModSquad <span>verify</span></h1>
        <% if (locals?.error) { %>
        <div class="alert alert-danger" onclick="$(this).remove()">
            <strong>An error occurred!</strong>
            <%= error %>
        </div>
        <% } %>
        <p>
            Use the text field below to add streamers that you moderate for.
        </p>
        <p>
            Check the checkbox next to each streamer to enable listening on that channel.
            <br>
            <strong>Chat listening can ONLY be turned off by the streamer if multiple moderators are authenticated on TMS.</strong>
        </p>
        <form method="post" class="add-user">
            <input class="full" type="text" name="streamer" id="streamer" placeholder="Twitch Username" />
        </form>
        <form method="post" class="verify">
            <div class="streamers">
                <% twitchUsers.forEach(user => { %>
                    <label class="user-selector">
                        <input type="hidden" name="users[]" value="<%= user._id %>">
                        <input type="checkbox" name="listen-<%= user._id %>"<%- user.chat_listen ? ` checked="checked"` : "" %>>
                        <%- include("../../partials/objects/twitchUser", {account: user, comma: comma}) %>
                    </label>
                <% }) %>
                <% streamerRoles.forEach(role => { user = role.streamer; %>
                    <label class="user-selector">
                        <input type="hidden" name="users[]" value="<%= user._id %>">
                        <input type="checkbox" name="listen-<%= user._id %>"<%- user.chat_listen ? ` checked="checked"` : "" %>>
                        <%- include("../../partials/objects/twitchUser", {account: user, comma: comma}) %>
                    </label>
                <% }) %>
            </div>
            <button class="button full next" type="submit">Next</button>
        </form>
    </main>
    
    <div class="notifications"></div>
<%- include("../../partials/javascript") %>
<script src="/assets/js/verify.js"> </script>
</body>
</html>
