<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch Mod Squad</title>

<%- include("../partials/head") %>

</head>
<body>

<%- include("../partials/header") %>

    <main>
        <section class="heading landing">
            <div class="wrapper">
                <div class="heading-box">
                    <h1>
                        The Mod Squad
                    </h1>
                    <p>
                        Discord community supporting Twitch streamers and their communities.
                    </p>
                    <a href="https://patreon.com/twitchmodsquad" target="_blank" class="button full next secondary">
                        Support us on Patreon!
                    </a>
                    <a href="/join" class="button full next">
                        Join the Squad!
                    </a>
                </div>
                <div class="statistics blue">
                <% statistics.forEach((stat, i) => { %>
                    <div class="statistic<%= i === 0 ? " active" : "" %>" data-color="<%= stat.color %>">
                        <h2>
                            <%= stat.name %>
                        </h2>
                        <%= stat.value %>
                    </div>
                <% }) %>
                </div>
            </div>
        </section>
        <section class="solid">
            <div class="wrapper">
                <h2>
                    Featured Members
                </h2>
                <div class="user-container featured">
                <% featured.forEach(user => { %>
                <%- include("../partials/user", {user: user, comma: comma}) %>
                <% }) %>
                </div>
                <div class="button-container">
                    <a href="/members" class="button">View All Participating Streamers</a>
                </div>
            </div>
        </section>
        <section>
            <div class="wrapper">
                <h2>Questions? Concerns?</h2>
                <p>Fill out our <a href="https://support.tms.to" target="_blank">support form</a>! Submissions can include your Discord username or can remain anonymous if you desire.</p>
                <p>Alternatively, you can reach out to <code>twijn</code> on Discord or <a href="/join">join The Mod Squad</a> to gain access to our channels.</p>
            </div>
        </section>
    </main>

<%- include("../partials/footer") %>


<%- include("../partials/javascript") %>
    <script src="/assets/js/public/statistics.js"></script>
</body>
</html>